body {
	font-family: 'Lato', sans-serif;
	color: #bf3efc;
}
.title-logo{
	margin: 20px;
}
.title-super{
	font-size: 60px;
}
.text-muted {
	color: #BCBBBB;
}
.text-thin {
	font-weight: 100;
}
.thick {
	height: 2px;
	background-color: #BCBBBB;
}
.main-box {
	background-color: #BCBB;
}
